
           <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
                <link href="{{url_for('static',filename='css/md.css')}}" rel="stylesheet">
                <link href="{{url_for('static', filename='logo.png')}}" rel="icon">
                <title>caligula</title>
            </head>
            <body>
                {% include 'header.jinja' with context %}
                <!-- Start of caligula.jinja -->
            <article class="prose prose-slate m-2 p-2 mx-auto max-w-7xl text-center"><h1><strong>Caligula</strong></h1>
<h4><em>GAIUS JULIUS CAESAR AUGUSTUS GERMANICUS</em></h4>
<h2>IN BREVI</h2>
<h4><em>In Short</em></h4>
<p>Caligula, although initially popular with the people, was ultimately an insane man who did many mad things in his time. He freed the prisoners who Tiberius had imprisoned on accusations of treason, and removed some unpopular taxes. But he also proclaimed himself a god, made his own temple and undertook a disastrous invasion of Britain. Upon his retreat, he commanded his soldiers to collect seashells to showcase their defeat of Neptune the sea god. Finally in 41AD, he was assassinated by a member of the praetorian guard, and his reign of terror ended.</p>
<h2>VITA ET FAMILIA<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup></h2>
<h4><em>Life and Family</em></h4>
<ul>
<li>DIES NATALIS: 31st August, 12AD</li>
<li>PATER: Germanicus</li>
<li>MATER: Agrippina the Elder</li>
<li>LIBERI: Julia Drusilla (by Caesonia) &amp; adopted Tiberius Gemellus</li>
<li>DIES MORTIS: 24th January, 41AD</li>
</ul>
<h2><s>LUDIBUNDA</s> PERTURBANTIA VERA</h2>
<h4><em><s>Fun</s> Disturbing Facts</em></h4>
<ul>
<li>• He said he wanted to make his favorite horse a consul.
<ul>
<li>&quot;<code>Incitato equo, cuius causa pridie circenses, ne inquietaretur, viciniae silentium per milites indicere solebat, praeter equile marmoreum et praesaepe eburneum praeterque purpurea tegumenta ac monilia e gemmis domum etiam et familiam et supellectilem dedit, quo lautius nomine eius invitati acciperentur; consulatum quoque traditur destinasse.</code>&quot;<sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup></li>
<li>Which translates to: &quot;He used to send his soldiers on the day before the games and order silence in the neighbourhood, to prevent the horse Incitatus⁠101 from being disturbed. Besides a stall of marble, a manger of ivory, purple blankets and a collar of precious stones, he even gave this horse a house, a troop of slaves and furniture, for the more elegant entertainment of the guests invited in his name; and it is also said that he planned to make him consul.&quot;<sup class="footnote-ref"><a href="#fn3" id="fnref3">[3]</a></sup></li>
</ul>
</li>
<li>• When there wasn't enough cattle to feed the beasts for his gladiatorial shows, he fed them human prisoners instead.<sup class="footnote-ref"><a href="#fn4" id="fnref4">[4]</a></sup></li>
<li>• He made a bridge over Baiae's bay and rode across it for two days, going back and forth. This was possibly to try and rival Xerxes, or because an astrologer had told Tiberius that Caligula had as much chance at being emperor as riding over the bay.<sup class="footnote-ref"><a href="#fn5" id="fnref5">[5]</a></sup></li>
</ul>
<h2>IN LONGUM</h2>
<h4><em>In Long</em></h4>
<p>While Tiberius had been moderately tyrannical, at least he had been capable and qualified. Caligula started his reign well, ending his Great Uncle Tiberius' treason trials, freeing many of Tiberius' prisoners<sup class="footnote-ref"><a href="#fn6" id="fnref6">[6]</a></sup>, and getting rid of some unpopular taxes<sup class="footnote-ref"><a href="#fn7" id="fnref7">[7]</a></sup>, but it all went downhill from there.
Caligula began to suggest to others that he was a god, and believed this was a good enough reason to sexually assault women at parties. He also had a temple dedicated to himself built, staffed with its own priests and spectacular animals to sacrifice to him. He even had a life sized statue of himself made in gold<sup class="footnote-ref"><a href="#fn8" id="fnref8">[8]</a></sup>, and had it dressed in &quot;clothing such as he wore himself.&quot;<sup class="footnote-ref"><a href="#fn9" id="fnref9">[9]</a></sup> He had animals such as &quot;flamingoes, peacocks, black grouse [(a bird)], guinea hens, and pheasants&quot;<sup class="footnote-ref"><a href="#fn10" id="fnref10">[10]</a></sup> sacrificed to him regularly.
He also like watching people be tortured.
In an effort to regain the good faith of the people he tried to invade Britain during his short rule, but it turned into pure chaos as his troops were forced to retreat, but commanded to bring back seashells to showcase Caligula's defeat of Neptune the sea god.
A soothsayer warned him to be wary of a man named Cassius<sup class="footnote-ref"><a href="#fn11" id="fnref11">[11]</a></sup>, so he had the Proconsul of Asia (named Cassius Longinus) assassinated<sup class="footnote-ref"><a href="#fn12" id="fnref12">[12]</a></sup>. But he failed to remember that there was a member of the Praetorian Guard named Cassius Chaerea as well.
Finally, in 41AD, Caligula was assassinated by Cassius Chaerea, among other conspirators, ending his reign of terror. (Don't worry though, there'll be a sequel with Nero.)</p>
<hr class="footnotes-sep" />
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>ㅤ1. All info in this section is from David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 62 <a href="#fnref1" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn2" class="footnote-item"><p>ㅤ2. Gaius Suetonius Tranquillus, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/L/Roman/Texts/Suetonius/12Caesars/Caligula*.html">uchicago.edu</a>) <a href="#fnref2" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn3" class="footnote-item"><p>ㅤ3. Gaius Suetonius Tranquillus and translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Caligula*.html">uchicago.edu</a>), 4:55 <a href="#fnref3" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn4" class="footnote-item"><p>ㅤ4. Ibid, 4:27 <a href="#fnref4" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn5" class="footnote-item"><p>ㅤ5. Ibid, 4:19 <a href="#fnref5" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn6" class="footnote-item"><p>ㅤ6. Cassius Dio and translated by Bill Thayer, Roman History (Available at <a href="https://penelope.uchicago.edu/thayer/e/roman/texts/cassius_dio/59*.html">uchicago.edu</a>), 59:6 <a href="#fnref6" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn7" class="footnote-item"><p>ㅤ7. Gaius Suetonius Tranquillus and translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Caligula*.html">uchicago.edu</a>), 4:16 <a href="#fnref7" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn8" class="footnote-item"><p>ㅤ8. Ibid, 4:22 <a href="#fnref8" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn9" class="footnote-item"><p>ㅤ9. Ibid. <a href="#fnref9" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn10" class="footnote-item"><p>ㅤ10. Ibid. <a href="#fnref10" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn11" class="footnote-item"><p>ㅤ11. Ross King, The Shortest History of Ancient Rome (Collingwood: Black Inc., 2024), 105 <a href="#fnref11" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn12" class="footnote-item"><p>ㅤ12. Gaius Suetonius Tranquillus and translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Caligula*.html">uchicago.edu</a>), 4:57 <a href="#fnref12" class="footnote-backref">↩︎</a></p>
</li>
</ol>
</section>
</article>

            <!-- End of caligula.jinja -->
            {% include 'footer.jinja' with context %}
            </body>
            </html>
           