
           <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
                <link href="{{url_for('static',filename='css/md.css')}}" rel="stylesheet">
                <link href="{{url_for('static', filename='logo.png')}}" rel="icon">
                <title>julius-caesar</title>
            </head>
            <body>
                {% include 'header.jinja' with context %}
                <!-- Start of julius-caesar.jinja -->
            <article class="prose prose-slate m-6 p-2 mx-auto max-w-7xl text-center"><h1><strong>Julius Caesar</strong></h1>
<h4><em>GAIVS IVLIVS CAESAR</em></h4>
<p>Although Julius Caesar was not technically an Emperor of Rome, he was remarkable enough that he deserved a page. At the age of 40<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup> in 60BC<sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup> (or possibly 59BC) he formed the First Triumvirate <em>(triumvirātus)</em> with Gnaeus Magnus Pompey, and Marcus Licinius Crassus because they were in financial trouble from the Senate, and he was newly elected consul. As consul he able to present bills to the people without approval from the Senate that could solve their problems, so long as they backed a bill giving him five years of command over a province of his choice.</p>
<p>Shortly after this, he left to govern three of the provinces in Gaul (present day Southern France, Northern Italy, and Croatia), where his army killed an estimated 1,000,000 people, and sold another 1,000,000 into slavery by the end of his conquest in 50BC<sup class="footnote-ref"><a href="#fn3" id="fnref3">[3]</a></sup>. Because Crassus was jealous of how well both Caesar and Pompey were doing in battle, he decided to <em>illegally</em> invade the Parthian Empire to the East. This went disastrously for Crassus and his army, as he didn't bother to research the Parthians' tactics or strategy. He was killed in battle, and his army was decidedly crushed.</p>
<p>With Crassus dead, the Triumvirate was dissolved. Julius Caesar invaded Italy and defeated Pompey's troops after a four year civil war, where Pompey fled to Egypt and was murdered by Ptolemy XIII, shortly before he was deposed by Julius Caesar who put his lover Cleopatra on the throne. Caesar was then granted the dictatorship and consulship for ten years in 46BC, near the end of the civil war and then granted it in perpetuity two year later.</p>
<p>When Caesar returned to Rome in 45BC he refused the title of King, but ruled as a King of Rome would have. His time as dictator did not last long however, as he was assassinated on the Ideas of March, 44BC in front of the entire Senate, his last words apparently being either <em>nothing</em> or, when he saw Brutus about to stab him: &quot;Kaì sý, téknon?&quot;<sup class="footnote-ref"><a href="#fn4" id="fnref4">[4]</a></sup>, which translates from Greek to &quot;You too, child?&quot;</p>
<h2>QUAM CELERRIME</h2>
<ul>
<li>DIES NATALIS: 13th July, 100BC<sup class="footnote-ref"><a href="#fn1" id="fnref1:1">[1:1]</a></sup></li>
<li>PATER: Gaius Julius Caesar (SENIOR)</li>
<li>MATER: Aurelia Cotta</li>
<li>LIBERI: Julia Caesaris (by Cornelia Cinna minor) &amp; Caesarion (by Cleopatra, unacknowledged)</li>
<li>DIES MORTIS: 15th March, 44BC</li>
</ul>
<h2>LUDIBUNDA VERA</h2>
<ul>
<li>Caesar was not only taken by later Emperors as a title, but also the root of the modern Kaiser and Tsar<sup class="footnote-ref"><a href="#fn5" id="fnref5">[5]</a></sup>.</li>
</ul>
<hr class="footnotes-sep" />
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 26 <a href="#fnref1" class="footnote-backref">↩︎</a> <a href="#fnref1:1" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn2" class="footnote-item"><p>David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 17 <a href="#fnref2" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn3" class="footnote-item"><p>History Skills, &quot;Julius Caesar's brutal conquest of Gaul&quot;, History Skills, Unknown Date, <a href="https://www.historyskills.com/classroom/ancient-history/anc-gallic-wars-reading/?srsltid=AfmBOorhhoZEj738dBPfYkbotIWCw-mfqKu-a_B-5YhWSoNP7QXYvmws#:~:text=Of%20an%20estimated%C2%A06%2C000%2C000%20people%20that%20had%20been%20living%20in%20Gaul%20before%20Caesar%20arrived%20in%2058%20BC%2C%20around%C2%A01%2C000%2C000%20had%20been%20killed%2C%20and%20another%201%2C000%2C000%20had%20been%20sold%20into%20slavery%C2%A0by%2050%20BC.%C2%A0">https://www.historyskills.com/classroom/ancient-history/anc-gallic-wars-reading</a> <a href="#fnref3" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn4" class="footnote-item"><p>Kathryn Tempest, Brutus: The Noble Conspirator (<a href="https://books.google.com.au/books?id=mmo3DwAAQBAJ&amp;printsec=frontcover&amp;source=gbs_ge_summary_r&amp;cad=0#v=onepage&amp;q&amp;f=false">Google Ebooks</a>, 2020), 101-102 <a href="#fnref4" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn5" class="footnote-item"><p>Uncited <a href="#fnref5" class="footnote-backref">↩︎</a></p>
</li>
</ol>
</section>
</article>

            <!-- End of julius-caesar.jinja -->
            {% include 'footer.jinja' with context %}
            </body>
            </html>
           