
           <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
                <link href="{{url_for('static',filename='css/md.css')}}" rel="stylesheet">
                <link href="{{url_for('static', filename='logo.png')}}" rel="icon">
                <title>julius-caesar</title>
            </head>
            <body>
                {% include 'header.jinja' with context %}
                <!-- Start of julius-caesar.jinja -->
            <article class="prose prose-slate m-2 p-2 mx-auto max-w-7xl text-center"><h1><strong>Julius Caesar</strong></h1>
<h4><em>GAIVS IVLIVS CAESAR</em></h4>
<h2>IN BREVI</h2>
<h4><em>In Short</em></h4>
<p>In 60BC Julius Caesar formed the First Triumvirate (an informal political alliance) with Gnaeus Magnus Pompey and Marcus Licinius Crassus. Shortly after, he left Rome to wage war against Gaul, and was magnificently successful. Crassus attempted to invade the Pathian Empire to the East, but this went disastrously for him and he was killed in battle. The Triumvirate then dissolved and Caesar invaded Italy (very illegally), and after four years of civil war with Pompey he won, while Pompey fled to Egypt where he was killed by Ptolemy XIII. In 46BC Caesar was granted the dictatorship and consulship for ten years, and granted it in perpetuity two years later. Caeasar was assassinated on the Ides of March (15th March) in 44BC.</p>
<h2>VITA ET FAMILIA<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup></h2>
<h4><em>Life and Family</em></h4>
<ul>
<li>DIES NATALIS: 13th July, 100BC</li>
<li>PATER: Gaius Julius Caesar (Senior)</li>
<li>MATER: Aurelia Cotta</li>
<li>LIBERI: Julia Caesaris (by Cornelia Cinna minor) &amp; Caesarion (by Cleopatra, unacknowledged)</li>
<li>DIES MORTIS: 15th March, 44BC</li>
</ul>
<h2>LUDIBUNDA VERA</h2>
<h4><em>Fun Facts</em></h4>
<ul>
<li>• Shakespeare popularised the belief that Julius Caesar's last words were &quot;You too, Brutus?&quot;, but in fact they were either <em>nothing</em> or &quot;Kaì sý, téknon?&quot; (in Greek for some reason?) meaning &quot;You too, child?&quot;<sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup></li>
<li>• Julius Caesar had a very noble family tree: he claimed to be descended from the Fourth King of Rome on one side, and from the god Venus on the other.<sup class="footnote-ref"><a href="#fn3" id="fnref3">[3]</a></sup></li>
<li>• Caesar was not only taken by later Emperors as a title, but also the root of the modern Kaiser<sup class="footnote-ref"><a href="#fn4" id="fnref4">[4]</a></sup>, Czar and Tsar<sup class="footnote-ref"><a href="#fn5" id="fnref5">[5]</a></sup>.</li>
</ul>
<h2>IN LONGUM</h2>
<h4><em>In Long</em></h4>
<p>Although Julius Caesar was not technically an Emperor of Rome, he was remarkable enough that he deserved a page. At the age of 40<sup class="footnote-ref"><a href="#fn6" id="fnref6">[6]</a></sup> in 60BC<sup class="footnote-ref"><a href="#fn7" id="fnref7">[7]</a></sup> (or possibly 59BC) he formed the First Triumvirate <em>(triumvirātus)</em> with Gnaeus Magnus Pompey, and Marcus Licinius Crassus because they were in financial trouble from the Senate, and he was newly elected consul. As consul he able to present bills to the people without approval from the Senate that could solve their problems, so long as they backed a bill giving him five years of command over a province of his choice.<sup class="footnote-ref"><a href="#fn8" id="fnref8">[8]</a></sup></p>
<p>Shortly after this, he left to govern three of the provinces in Gaul (present day Southern France, Northern Italy, and Croatia)<sup class="footnote-ref"><a href="#fn9" id="fnref9">[9]</a></sup>, where his army killed an estimated 1,000,000 people, and sold another 1,000,000 into slavery by the end of his conquest in 50BC<sup class="footnote-ref"><a href="#fn10" id="fnref10">[10]</a></sup>. Because Crassus was jealous of how well both Caesar and Pompey were doing in battle, he decided to invade the Parthian Empire to the East. This went disastrously for Crassus and his army, as he didn't bother to research the Parthians' tactics or strategy. He was killed in battle, and his army was decidedly crushed.<sup class="footnote-ref"><a href="#fn11" id="fnref11">[11]</a></sup></p>
<p>With Crassus dead, the Triumvirate was dissolved. Julius Caesar invaded Italy by crossing the Rubicon, and defeated Pompey's troops after four years of civil war. Then Pompey fled to Egypt and was murdered by Ptolemy XIII<sup class="footnote-ref"><a href="#fn12" id="fnref12">[12]</a></sup>, shortly before Ptolemy was deposed by Julius Caesar who put his lover Cleopatra on the throne. Caesar was then granted the dictatorship and consulship for ten years in 46BC, near the end of the civil war, and then granted it in perpetuity two year later.</p>
<p>When Caesar returned to Rome in 45BC he refused the title of King, but ruled as a King of Rome would have. His time as dictator did not last long however, as he was assassinated on the Ideas of March, 44BC in front of the entire Senate, his last words apparently being either <em>nothing</em> or, when he saw Brutus about to stab him: &quot;Kaì sý, téknon?&quot;<sup class="footnote-ref"><a href="#fn2" id="fnref2:1">[2:1]</a></sup>, which translates from Greek to &quot;You too, child?&quot;</p>
<hr class="footnotes-sep" />
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>ㅤ1. All information in this section is from: David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 26 <a href="#fnref1" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn2" class="footnote-item"><p>ㅤ2. Kathryn Tempest, Brutus: The Noble Conspirator (<a href="https://books.google.com.au/books?id=mmo3DwAAQBAJ&amp;printsec=frontcover&amp;source=gbs_ge_summary_r&amp;cad=0#v=onepage&amp;q&amp;f=false">Google Ebooks</a>, 2020), 101-102 <a href="#fnref2" class="footnote-backref">↩︎</a> <a href="#fnref2:1" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn3" class="footnote-item"><p>ㅤ3. Gaius Suetonius Tranquillus and translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Julius*.html">uchicago.edu</a>), 1:6 <a href="#fnref3" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn4" class="footnote-item"><p>ㅤ4. Oxford English Dictionary, “Kaiser (n.), Etymology,” March 2025, https://doi.org/10.1093/OED/1612886737. <a href="#fnref4" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn5" class="footnote-item"><p>ㅤ5. Oxford English Dictionary, “tsar | czar (n.), Etymology,” December 2024, https://doi.org/10.1093/OED/1177152091 <a href="#fnref5" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn6" class="footnote-item"><p>ㅤ6. David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 26 <a href="#fnref6" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn7" class="footnote-item"><p>ㅤ7. Ibid, 17 <a href="#fnref7" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn8" class="footnote-item"><p>ㅤ8. Ibid, 26-27 <a href="#fnref8" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn9" class="footnote-item"><p>ㅤ9. Ibid, 28 <a href="#fnref9" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn10" class="footnote-item"><p>ㅤ10. Plutarch and translated by Bill Thayer (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Plutarch/Lives/Caesar*.html">uchicago.edu</a>), 1:15 <a href="#fnref10" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn11" class="footnote-item"><p>ㅤ11. David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 30-31 <a href="#fnref11" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn12" class="footnote-item"><p>ㅤ12. Ibid, 33 <a href="#fnref12" class="footnote-backref">↩︎</a></p>
</li>
</ol>
</section>
</article>

            <!-- End of julius-caesar.jinja -->
            {% include 'footer.jinja' with context %}
            </body>
            </html>
           