
           <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
                <link href="{{url_for('static',filename='css/md.css')}}" rel="stylesheet">
                <link href="{{url_for('static', filename='logo.png')}}" rel="icon">
                <title>nero</title>
            </head>
            <body>
                {% include 'header.jinja' with context %}
                <!-- Start of nero.jinja -->
            <article class="prose prose-slate m-2 p-2 mx-auto max-w-7xl text-center"><h1><strong>NERO</strong></h1>
<h4>NERO CLAUDIUS CAESAR AUGUSTUS GERMANICUS</h4>
<p>Nero initially left day-to-day running of the Empire in the hands of men Claudius and his mother picked. He had been forced to marry Claudius' daughter Octavia, but disliked her very much, and (as well as having many concubines) planned to marry the daughter of a general named Poppaea. His wife and advisers strongly advised against this, so he began to seek other advisers, and kill his mother.
He placed her on a sabotaged boat, but forgot to take into account that his mother was a very good swimmer. So he convinced one of her freedmen that she was plotting to kill him, and to kill her before she could.
Very soon after this, his empire began to fall apart. Boudica led a revolt in Britain that was handled quite badly, then in 64AD a fire destroyed 3/4 of Rome. At a press conference (if you could call it that) Nero recited a poem on the fall of Troy. He is (by Christian tradition) believed to have set the fire, then blamed it on the Christians. Many Christians were thentortured, crucified, and burned alive, amongst many other punishments.
Not only a year after this, Nero kicked his pregnant wife in the stomach, killing her (THE SAME WIFE HE KILLED HIS MOTHER SO HE COULD MARRY!). Then, he uncovered a plot among some of the Senators assassinate him, so he executed them, along with some other people he just didn't like.
While Nero was away in Greece, being crowned victor in many of the Olympic games, a plot among the Governors of [GALLIC TRIBE], a Spanish province, Judaea, the Praetorian Guard, and the commander of an army in Germany, all turned against Nero. Before he could return to Rome to deal with the situation, the Senate deposed him, and named Galba (the governor of the Spanish province), Emperor. Distressed and alone, Nero fled to the home of a freedman name Phaon, who also had betrayed him. Nero stabbed himself to death in 68AD, with his last words being &quot;How great an artist dies with me!</p>
<h2>QUAM CELERRIME<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup></h2>
<ul>
<li>DIES NATALIS: 15th December, 37AD</li>
<li>PATER: Gnaeus Domitius Ahenobarbus</li>
<li>MATER: Agrippina the Younger</li>
<li>LIBERI: Claudiua (By Poppaea Sabina)</li>
<li>DIES MORTIS: 13th October, 54AD</li>
</ul>
<hr class="footnotes-sep" />
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>Uuuhh <a href="#fnref1" class="footnote-backref">↩︎</a></p>
</li>
</ol>
</section>
</article>

            <!-- End of nero.jinja -->
            {% include 'footer.jinja' with context %}
            </body>
            </html>
           