
           <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
                <link href="{{url_for('static',filename='css/md.css')}}" rel="stylesheet">
                <link href="{{url_for('static', filename='logo.png')}}" rel="icon">
                <title>nero</title>
            </head>
            <body>
                {% include 'header.jinja' with context %}
                <!-- Start of nero.jinja -->
            <article class="prose prose-slate m-2 p-2 mx-auto max-w-7xl text-center"><h1><strong>NERO</strong></h1>
<h4><em>NERO CLAUDIUS CAESAR AUGUSTUS GERMANICUS</em></h4>
<h2>IN BREVI</h2>
<h4><em>In Short</em></h4>
<p>Nero was an insane man, not worthy of the immense powers given to him as emperor of Rome. He used his powers to kill, torture and otherwise hurt many people, some disturbing examples being killing his mother and killing his pregnant wife. He also set fire to Rome, destroying three quarters of it and blaming it on the Christians. He did many other despicable things too gruesome or violent to mention here, and was finally deposed by the Senate and committed suicide in 68AD.</p>
<h2>VITA ET FAMILIA<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup></h2>
<h4><em>Life and Family</em></h4>
<ul>
<li>DIES NATALIS: 15th December, 37AD</li>
<li>PATER: Gnaeus Domitius Ahenobarbus</li>
<li>MATER: Agrippina the Younger</li>
<li>LIBERI: Claudia (By Poppaea Sabina)</li>
<li>DIES MORTIS: 13th October, 54AD</li>
</ul>
<h2><s>LUDIBUNDA</s> PERTURBANTIA VERA</h2>
<h4><em><s>Fun</s> Disturbing Facts</em></h4>
<ul>
<li>• Nero overhead someone's conversation where they said: &quot;<code>Ἐμοῦ θανόντος γαῖα μειχθήτω πυρί</code>&quot;<sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup> which translates to: &quot;When I am dead, be earth consumed by fire&quot;<sup class="footnote-ref"><a href="#fn3" id="fnref3">[3]</a></sup>. But then he said &quot;<code>Immo, ἑμοῦ ζῶντος.</code>&quot;<sup class="footnote-ref"><a href="#fn4" id="fnref4">[4]</a></sup> which translates to: &quot;Nay, rather while I live.&quot;<sup class="footnote-ref"><a href="#fn5" id="fnref5">[5]</a></sup> Then he proceeded to burn three quarters of Rome.</li>
<li>• His mother was very difficult to kill.</li>
</ul>
<h2>IN LONGUM</h2>
<h4><em>In Long</em></h4>
<p>Nero initially left day-to-day running of the Empire in the hands of men Claudius and his mother picked. He had been forced to marry Claudius' daughter Octavia, but disliked her very much, and (as well as having many concubines) planned to marry woman named Poppaea. His wife and advisers strongly advised against this, so he began to seek other advisers, and to kill his mother.
He first tried to poison her three times, but learnt she regularly took antidotes. He then tried to loosen the roof tiles in her bedroom to have them drop on her in her sleep, but someone told her about the plan. Finally, he placed her on a sabotaged boat that was designed to collapse, but forgot to take into account that his mother could swim. So he convinced one of her freedmen that she was plotting to kill him (Nero), and to kill her before she could, so she was assassinated.<sup class="footnote-ref"><a href="#fn6" id="fnref6">[6]</a></sup>
Very soon after this, his empire began to fall apart. Boudica led a revolt in Britain that was handled quite badly, then in 64AD a fire destroyed 3/4 of Rome. At a press conference (if you could call it that) Nero recited a poem on the fall of Troy. He is (by Christian tradition) believed to have set the fire, then blamed it on the Christians.<sup class="footnote-ref"><a href="#fn7" id="fnref7">[7]</a></sup> Many Christians were then tortured, crucified, and burned alive, amongst many other punishments.
Not only a year after this, Nero kicked his pregnant wife in the stomach, killing her<sup class="footnote-ref"><a href="#fn8" id="fnref8">[8]</a></sup> (THE SAME WIFE HE KILLED HIS MOTHER SO HE COULD MARRY!). Then, he uncovered a plot among some of the Senators to assassinate him, so he executed them, along with some other people he just didn't like.<sup class="footnote-ref"><a href="#fn9" id="fnref9">[9]</a></sup>
While Nero was away in Greece, being crowned victor in many of the Olympic games, a plot among several province Governors, the Praetorian Guard, and the commander of an army in Germany, all turned against Nero. Before he could return to Rome to deal with the situation, the Senate deposed him, and named Galba (the governor of the Spanish province), Emperor<sup class="footnote-ref"><a href="#fn10" id="fnref10">[10]</a></sup>. Distressed and alone, Nero fled to the home of a freedman name Phaon. Upon hearing that he had been pronounced a public enemy by the Senate, Nero stabbed himself to death in 68AD, stating &quot;How great an artist dies with me!&quot;.<sup class="footnote-ref"><a href="#fn11" id="fnref11">[11]</a></sup></p>
<hr class="footnotes-sep" />
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>ㅤ1. All info in this section is from David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 68 <a href="#fnref1" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn2" class="footnote-item"><p>ㅤ2. Suetonius, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/L/Roman/Texts/Suetonius/12Caesars/Nero*.html#38">uchicago.edu</a>), 6:38 <a href="#fnref2" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn3" class="footnote-item"><p>ㅤ3. Suetonius and Translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Nero*.html">uchicago.edu</a>), 6:38 <a href="#fnref3" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn4" class="footnote-item"><p>ㅤ4. Suetonius, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/L/Roman/Texts/Suetonius/12Caesars/Nero*.html#38">uchicago.edu</a>), 6:38 <a href="#fnref4" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn5" class="footnote-item"><p>ㅤ5. Suetonius and Translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Nero*.html">uchicago.edu</a>), 6:38 <a href="#fnref5" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn6" class="footnote-item"><p>ㅤ6. Ibid, 6:34 <a href="#fnref6" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn7" class="footnote-item"><p>ㅤ7. David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 68 <a href="#fnref7" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn8" class="footnote-item"><p>ㅤ8. Suetonius and Translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Nero*.html">uchicago.edu</a>), 6:35 <a href="#fnref8" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn9" class="footnote-item"><p>ㅤ9. David Potter, Emperors of Rome (London: Quercus Publishing, 2017), 68 <a href="#fnref9" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn10" class="footnote-item"><p>ㅤ10. Ibid, 69 <a href="#fnref10" class="footnote-backref">↩︎</a></p>
</li>
<li id="fn11" class="footnote-item"><p>ㅤ11. Suetonius and Translated by Bill Thayer, The Twelve Caesars (Available at <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Suetonius/12Caesars/Nero*.html">uchicago.edu</a>), 6:49 <a href="#fnref11" class="footnote-backref">↩︎</a></p>
</li>
</ol>
</section>
</article>

            <!-- End of nero.jinja -->
            {% include 'footer.jinja' with context %}
            </body>
            </html>
           