<div class="w-full border-solid border-b-3 border-blue-600 h-36 hidden md:block">
    <div class="flex flex-row">
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/'">
            <p>Home</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
    </div>
</div>
<div class="md:hidden">
    <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" class="h-12 m-2 opacity-80" style="bottom: 0; right: 0; position: fixed;" onclick="location.href='/emperor/julius-caesar'">
</div>