<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eheu!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body>
    <h1 class="text-center">Eheu!</h1>
    <div class="flex justify-center items-center p-4">
        <img src="{{url_for('static', filename='Error 404.png')}}" alt="404">
    </div>
    <i class="text-center">{% if reason != None%}{{reason}}{% else %}Page not found: 404{% endif %}</i>
</body>
</html>