<style>
  .bottom-left {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;

    position: sticky;
    top: 100vh;
    align-self: flex-start;
  }
</style>

<div class="bottom-left">
  <p class="text-xs">© James Glynn ∞</p>
</div>