<div class="w-full border-solid border-b-3 border-blue-600 h-[17.5vh] md:block">
    <div class="flex flex-row justify-between">
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='logo-250.png')}}" alt="Home" class="emperor-button-small"  onclick="location.href='/'">
            <p>domus</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/julius-caesar'">
            <p>Julius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='augustus-caesar-bust-square.png')}}" alt="Augustus Caesar" class="emperor-button-small"  onclick="location.href='/emperor/augustus-caesar'">
            <p>Augustus Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='tiberius-caesar-bust-square.png')}}" alt="Tiberius Caesar" class="emperor-button-small"  onclick="location.href='/emperor/tiberius'">
            <p>Tiberius Caesar</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='caligula-bust-square.png')}}" alt="Caligula" class="emperor-button-small"  onclick="location.href='/emperor/caligula'">
            <p>Caligula</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='claudius-bust-square.png')}}" alt="Claudius" class="emperor-button-small"  onclick="location.href='/emperor/claudius'">
            <p>Claudius</p>
        </div>
        <div class="flex items-center flex-col">
            <img src="{{url_for('static', filename='nero-bust-square.png')}}" alt="Nero" class="emperor-button-small"  onclick="location.href='/emperor/nero'">
            <p>Nero</p>
        </div>
    </div>
</div>
<div class="md:hidden">
    <img src="{{url_for('static', filename='logo-500.png')}}" class="h-12 m-2 opacity-80" style="bottom: 0; right: 0; position: fixed;" onclick="location.href='/'">
</div>