<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>domus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}">
</head>
<body class="height-svh">
    <!-- {% include 'header.jinja' with context %} -->
    <div class="p-4">
        <h1 class="text-center">imperiī Rōmānī primi imperātōrēs</h1>
        <h2 class="text-center"><i>The Roman Empire's First Emperors</i></h2> 
    </div>
    <div class="p-4 flex items-center justify-center">
        <div class="grid grid-cols-2 md:grid-cols-3">
            <!-- Roman Emperor Faces -->
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='julius-caesar-bust-square.png')}}" alt="Julius Caesar" class="emperor-button"  onclick="location.href='/emperor/julius-caesar'">
                <p>Julius Caesar</p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='augustus-caesar-bust-square.png')}}" alt="Augustus Caesar" class="emperor-button"  onclick="location.href='/emperor/augustus-caesar'">
                <p>Augustus Caesar</p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='tiberius-caesar-bust-square.png')}}" alt="Tiberius Caesar" class="emperor-button"  onclick="location.href='/emperor/tiberius'">
                <p>Tiberius</p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='caligula-bust-square.png')}}" alt="Caligula" class="emperor-button"  onclick="location.href='/emperor/caligula'">
                <p>Caligula</p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='claudius-bust-square.png')}}" alt="Claudius" class="emperor-button"  onclick="location.href='/emperor/claudius'">
                <p>Claudius</p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src="{{url_for('static', filename='nero-bust-square.png')}}" alt="Nero" class="emperor-button"  onclick="location.href='/emperor/nero'">
                <p>Nero</p>
            </div>
            
            
        </div>
    
    </div>
    {% include 'footer.jinja' with context %}
</body>
</html>